.todo-list {
    list-style: none;
    margin: 0;
    padding: 0;
    input[type="checkbox"] {
        &:checked + label {
            text-decoration: line-through;
        }
    }
    > li {
        border: 1px solid transparent;
        &.active {
            border-color: red;
        }
    }
}
